{% extends 'base.html.twig' %}

{% block title %}Gestion des droits d'accès - {{ parent() }}{% endblock %}

{% block header %}
    <div id="current-user"></div>
    <div id="title-page">
        <h1>Gestion des droits d'accès</h1>
    </div>
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div>
        {{ form_row(form.title) }}
    </div>

    <div>
        {{ form_row(form.description) }}
    </div>
    <div class="flex-form">
        <div>
            {{ form_row(form.deadline) }}
        </div>
        <div>
            {{ form_row(form.statusId) }}
        </div>
    </div>
    <div>
        {{ form_row(form.user) }}
    </div>
    <br>
    <button class="button button-submit">Modifier</button>
    <a href="/tache/{{ task.id }}/supprimer" class="delete-task">Supprimer la tâche</a>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
