{% extends 'base.html.twig' %}
{% block title %}{{ title }} - {{ parent() }}{% endblock %}
{% block content %}
    <h1>{{ title }}</h1>

    {{ message }}<br><br>
    <a href="{{ path('project_index') }}">Retour à la page d'accueil</a>.

    </p>
{% endblock %}